. {
    box-sizing: border-box;
}
.menu {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
div {
    margin-top: 10px;
    
}
.container {
    display: flex
}
div.chicken {
    display: flex 
    float: left;
    width: 30%;
    border: 2px solid;
    background-color: chartreuse;
    margin-right: 15px;
    margin-left: 10px;
    
}
div.beef {
    display: flex
    float: left;
    width: 30%;
    border: 2px solid;
    background-color: cyan;
    margin-right: 15px;
    
}


div.sushi {
    display: flex
    float: left;
    width: 30%;
    border: 2px solid;
    background-color: darkorange;
    
}
p {
    margin-top: 0;
    width: 30%;
    margin-left: auto;
    border: 2px solid;
    border-top: 0;
    border-right: 0;
    text-align: center;
    font-weight: bolder;
   
}
p.chicken {
    background-color: cyan;
}
p.beef {
    background-color: darkorange;
    color: white;
    border-color: black;
}
p.sushi {
    background-color: chartreuse;
}
div.footer {
    background-color: blue;
}
@media (min-width: 768px) { 
   
}
@media (min-width: 992px) {  
    div.chicken {
        float: bottom;
        width: 30%;
        border: 2px solid;
        background-color: chartreuse;
        margin-right: 15px;
}